.bannerPic {
  background: url("../../images/ourproject.png");
  background-repeat: no-repeat;
  background-size: cover;

  background-blend-mode: overlay;
  background-position: center;
  padding: 125px 133px 125px 133px;
  color: white;
  text-align: center;
}

.recentnewsHead{
    width: 70%;
}
.recentimage{
    width: 30%;
    height: 90px;
    position: relative;
}
.main{
    display: flex;
    justify-content: space-around;
    
    padding: 74px
}
.flexdiv{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    row-gap: 17px;
  width: 90%;
    

}
.flexdiv img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;


  padding: 105px;
}
/* .flexdiv { */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* gap: 2px; */
  /* row-gap: 17px;
  width: 90%; */
 
/* } */
.flexdiv img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.imageflex {
  margin-bottom: 10px;
  display: grid;
  grid-template-rows: max-content 200px 1fr;
  height: 276px !important;
  max-width: 337px;
  position: relative;
  cursor: pointer;
}
.content {
  height: 75px;
  border: 1px solid #525251;
  border-top: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.newsImage{
    position: relative;
    width:337px ;
    height:200px;
object-fit: cover;
}
/* .card{
    position: relative;
} */
/* .flexdiv p{
    position:absolute
} */
.recentPost {
  width: 30%;
}

.recentPost p{
    font-weight: 500;
font-size: 18px;
overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    height: 57px;
    -webkit-box-orient: vertical;
    line-height: 26px;
padding-left: 20px;

}
.recentPost h4 {
  font-size: 22px;
  padding-bottom: 24px;
  color: #000000;
}
.recentPost span {
  padding-left: 20px;
}

.news{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border-bottom: 1px solid rgba(82, 82, 81, 0.5);
    margin-bottom: 15px;
    padding-bottom: 9px;

}
.pagination {
  display: inline-block;
  cursor: pointer;
}

.pagination a {
  color: black;
  float: left;
  /* padding: 5px 10px; */
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #434343;
  font-size: 15px;
  width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a.active {
  background-color: #525251;
  color: white;
  border: 1px solid #525251;
}

.pagination a:hover:not(.active) {
  background-color: #525251;
  color: white;
}
.page {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  margin-right: 12px
}
.nextpage {
  width: 100%;
  margin-top: 20px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
}

.card {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.name {
  background-color: #525251;
  color: white;
  position: absolute;
  bottom: 79px;
  padding: 11px 26px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 12px;
}
.content:hover {
  background-color: #525251;
  color: white;
}
.name:hover {
  background-color: #9e8959;
}
/* new */
.newcards{
  width: 100%;
  padding: 25px 5px 10px;
  display: grid;
  grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr);
  flex-wrap: wrap;
  grid-gap: 20px;
  gap: 20px;
  box-sizing: border-box;
}
.newcards img{
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.newcard{
  width: auto;
}
.imageandhead{
  position: relative;
  width: 337px;
  height: 200px;
 
} 
.newimgewrap{
  margin-bottom: 10px;
  display: grid;
  /* grid-template-rows: max-content 200px 1fr; */
  height: 276px !important;
  max-width: 337px;
  position: relative;
  cursor: pointer;
}
/*  */
@media only screen and (max-width: 2176px) and (min-width:1973px){
  .flexdiv{
    width: 100%;
  }
}
@media only screen and (max-width: 1762px) and (min-width:1601px){
  .flexdiv{
    width: 100%;
  }
}
@media only screen and (max-width: 840px) {
  .main {
    flex-direction: column;
    padding: 0 15px;
  }

  .recentPost {
    width: 100%;
  }
  .recentPost h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
  }
  .recentPost p {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }
  .flexdiv {
    width: 100%;
    justify-content: center;
    padding: 47px 0;
  }
  .news {
    justify-content: flex-start;
  }
  .bannerPic {
    padding: 125px 50px 125px 50px;
  }
  .page {
    justify-content: center;
  }
}
@media only screen and (max-width: 600px) {
  .navoverlay {
    margin-bottom: -86px;
  }
}
