.cardContainer {
  display: flex;
  flex-direction: column;
  background: #F5F5F5;
    border: 0.1px solid #CCCCCC;
 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
}
.cardContainerSponsor{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.mainContent {
  padding: 23px;
  display: flex;
  flex-wrap: wrap;
}
.row {
  display: flex;
 width: 100%;
  padding: 10px 0px;
}
.label {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.labelRed {
  display: flex;
  justify-content: space-between;
  width: 50%;
  color: red;
  
}
.semiColon {
  margin: 0px 10px;
}
.labelContent {
  width: 50%;
  font-weight: 400;
font-size: 16px;
line-height: 24px;
}
.yellowTxt {
  color: #9e8959;
}
.yesBtn{
 background-color: #9e8959;
 color: white;
 border: none;
 border-radius: 5px;
 padding: 8px;
    font-weight: 600;
}
.normalText {
}
.wrapOnYesOrNOButton {
  padding: 5px 0px;
  border-radius: 5px;
}
.wrapOnYesButton {
  border: 0.2px solid #000;
  border-left: none;
}
.wrapOnNoButton {
  border: 0.2px solid #000;
  border-right: none;
}
.yesOrNoButton {
  padding: 5px 8px;
  min-width: 50px;
  border-radius: 5px;
  cursor: pointer;
}
.yellowButtonYes {
  background: #9e8959;
  color: #fff;
  border-radius: 5px;
  border: 0.2px solid #9e8959;
}
.yellowButtonNo {
  background: #9e8959;
  color: #fff;
  border-radius: 5px;
  border: 0.2px solid #9e8959;
}
.controls {
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  color: #9e8959;
  padding: 15px;
}
.controls span {
  cursor: pointer;
}
.sponsorshipHeading {
  font-weight: 500;
  font-size: 17px;
}
.buttonHandler {
  display: flex;
  align-items: flex-start;

  gap: 30px;
  padding: 0px 30px 18px 23px;
}
.sponsorTopcontent{
  /* padding-top: 10px; */
  padding-left: 23px;
  max-height: 50px;
}
.buttonHandler button {
  color: #fff;
  background: #525251;
  border-radius: 3px;
  border: none;
  padding: 12px 17px;
  min-width: 40px;
  font-size: 16px;
  margin: 0px 2px;
  word-wrap: break-word;
  width: 100px;
  max-width: max-content;
  cursor:pointer;

}
.buttonHandler button:hover {
  background: #9e8959;
}
@media only screen and (max-width: 598px) {
  .buttonHandler {
    flex-direction: column;
    gap: 0;
  }
  .buttonHandler button {
    margin: 10px 0px;
    width: 100%;
    max-width: none;

  }
  .labelRed{
    width: 100%;
    padding-bottom: 10px;
  }
  /* .mainContent{
    margin-top: 20px;
  } */
  .yesBtn{
    height: 30px;
  }
}
