.forgotPasswordWrap {
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
}


.message{
  text-align: center;
  font-weight: 400;
  font-size: 18px;


}
.prompt {
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.49);
  margin-top: 40px;
  text-align: center;
  font-weight: 400;
}



.submitWrap {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.submitWrap input[type="submit"] {
  padding: 10px 40px;
  color: #fff;
  background: #525251;
  outline: none;
  border: 1px solid #525251;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}
@media screen and (max-width: 425px) {
  .forgotPasswordWrap {
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
  }
  .prompt {
    font-size: 14px;

    margin-top: 30px;
  }
  
}
@media screen and (max-width: 362px) {
  .forgotPasswordWrap {
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
  }
}
