.bannerPic{
    background: url("../../images/ourproject.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    background-blend-mode: overlay;
    background-position: center;
    padding: 125px 133px 198px 133px;
color: white;
text-align: center;
height: 50vh;
}
.projectImage{
    width: 335px;
    height: 270px;
}
.projectImage img{
    border-radius: 10px;
    object-fit: cover;
}
.buttonContainer{
    display: block;
   height: 100px;
  float: none;
    width: 100%;
    justify-content: space-evenly;

}
.selectbox{
    visibility: hidden;
}
.child button{
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: white;
    background-color: #525251;
    border: none;
    border-radius: 10px;
    padding: 10px 49px;
    display: flex;
    align-items: center;
    display: inline-block;
   
}
.allButton{
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: white;
    background-color: #525251;
    border: none;
    border-radius: 10px;
    padding: 10px 49px;
    display: flex;
    align-items: center;
    display: inline-block;
}
.imageDiv{
    position: relative;
}
.newsHeadline{
    position: absolute !important;
    bottom: 33px;
    left: 37px;
    display: flex;
    /* align-items: center; */
    background: #D9D9D9;
    justify-content: center;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    min-width: 260px;
    max-width: 260px;
    overflow: hidden;
    text-overflow: ellipsis; 
 white-space: nowrap;
}
.content{
    padding: 50px 138px;
    /* padding: 50px 100px;  */
}
.contentInner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}
.child {
    /* flex: 1 0 21%; */
    margin: 5px;
    height: 55px;
    /* background-color: blue; */
  }
.imageWithHead{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 40px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
   

}
.imageWithHead Image{
    margin-top: 40px;
}
.flexdiv{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
/* justify-content: space-between; */
}
.imageflex{
    /* margin-bottom: 30px; */
    position: relative;
    transition: .5s ease;
}
.imagePosition{
    position: relative;
}
/* pagination */
.pagination {
    display: inline-block;
    cursor: pointer;
  }
  .activePage{
    background-color: #525251;
    color: white;
  }
  .pagination a {
    /* color: black; */
    float: left;
    /* padding: 5px 10px; */
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #434343;
    font-size: 15px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination a.active {
    background-color: #525251;
    color: white;
    border: 1px solid #525251;
  }
  
  .pagination a:hover:not(.active) 
  {
    background-color:#525251;
    color: white;
}
.page{
    display: flex;
    align-items: flex-end;
    justify-content: end;

    margin-top: 30px;

    
}
/* .imageflex:hover{
    filter: grayscale(100%);

} */
/* overlay */
.overlay {
    display: none;
   
}
.hoverContent {
    /* border: 1px solid white; */
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-overflow: ellipsis; 
overflow: hidden; 

}
.imageflex:hover .overlay {
    width: 100%;
    height: 100%;
    background: rgba(82, 82, 81, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;    
    padding: 32px;
    border-radius: 10px;
}
.imageflex:hover .newsHeadline{
    display: none;
}
.hoverContentHead{
    font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #D9D9D9;
text-align: center;
padding-bottom: 11px;
}
.hoverContentPara{
    font-weight: 400;
font-size: 16px;
line-height: 120%;
text-align: center;
color: #FFFFFF;
}
@media only screen and (max-width: 600px){
.content{
    padding: 0; 
}
.page{
    justify-content: center;
}
.flexdiv{
    justify-content: center;
}
.Navbackground{
    background-color: #525251;
    visibility: visible;
}
.bannerPic{
    display: none;
}
.selectbox{
    visibility: visible;
    margin-bottom: 35px;
}
.contentInner{
   display: none;
}

.select{
    width: 100%;
    background-color: white;
    border: none;
    border-bottom: 2px solid #CCCCCC;

    padding: 18px;

    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #202021;

    border-radius: unset;
    border-radius: 1px;

}
}