.sponserCard{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    /* width: 93%; */
    /* padding: 24px; */
    line-height: 3;
    border-radius: 16px;
    margin-bottom: 20px;
}
.border{
    border-bottom: 1px solid; 
}
.innerDiv{
    width: 100%;
    line-height: 48px;
    font-size: 16px;
    padding-top: 41px;
    padding: 30px 30px 0px 30px;
}
.bottomSection{
    display:flex;
    justify-content: space-between;
    padding: 0px 30px;
}