.bannerPic{
    background: url("../../images/contactBanner.jpeg");
    /* background-color: rgba(0, 0, 0, 0.47); */
    background-repeat: no-repeat;
    background-size: cover;
    
    background-blend-mode: overlay;
    background-position: center;
    padding: 125px 133px 198px 133px;
color: white;
text-align: center;
/* position: relative; */
}
.container{
    max-width: 1028px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.contactPage label p{
font-size: 16px;
}
.contact{
    /* display: flex;
    justify-content: space-between; */
    display: grid;
grid-template-columns: repeat(3, minmax(0, 1fr));
grid-column-gap: 6px;
-moz-column-gap: 6px;
column-gap: 43px;
align-items: center;
width: 100%;
justify-content: space-between;

    margin-top: -85px;
    margin-bottom: 100px;

}
.number{
    
background: white;
    border: 1px solid;
    border-color: lightgray;
    
    cursor: pointer;
   
    text-align: center;
    border-radius: 22px;
    padding: 37px 20px;
    height: 170px;
    border-top: 4px solid #9e8959;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    /* padding-top: 48px;
    padding-bottom: 48px; */
}
.icon{
    font-size: 35px;
    color: #9e8959;
    padding-bottom: 10px;
}
.messageForm {
    display: flex;
    border-radius: 10px;
    border: 3px solid #9e8959;
  }
  .googleMapWrap {
    width: 400px;
    border-radius: 0px 10px 10px 0px;
    height: 100%;
  }
  .dummyMapWrap {
    position: relative;
    width: 300px;
    border-radius: 6px 0px 0px 6px;
    aspect-ratio: 1/1;
  }
  .dummyMapWrap img {
    border-radius: 6px 0px 0px 6px;
  }
  .formContent {
  width: 58%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 35px 0px 35px;
  }
  .formContent label {
    font-weight: 400;
    /* font-size: 13px; */
    padding-bottom: 10px;
    color: #202021;;
  }
  .formContent textarea {
    resize: none;
    background: #ffffff;
    border-radius: 2px;
    padding: 2px;
    border: 1px solid #cccccc;
  
  }
  .formContent input[type='text'],
  .formContent input[type='email'],
  .formContent input[type='tel']
  {
    
    border: 1px solid #cccccc;
    padding: 2px;
    border-radius: 2px;
    min-height: 35px;
    margin-bottom: 10px
  }
  .formContent input[type='submit'] {
      background: #9e8959;
      border: none;
      font-size: 20px;
      color:#fff;
      font-weight:600;
      grid-column: 2 / span 3;
      margin-top:20px;
      margin-bottom: 20px;
      padding:15px 31px;
     
      border:1px solid  #9E8959;
      cursor:pointer;
      border-radius: 6px;
    }
    .formContent button:hover {
      background: #9e8959;  }
  
  .formHeading {
    font-weight: 500;
    font-size: 20px;
  padding-bottom: 50px;
    color: rgba(0, 0, 0, 0.68);
  }
  .formFields {
    width: 100%;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    row-gap: 20px;
    padding: 30px; */
  }
  .spanField {
    grid-column: 2 / span 3;
  }
  .singlerow{
    display: flex;
    width: 100%;
    gap: 50px;
  }
  .textLabel{
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .MsgtextLabel{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .messagebtn{
    width: 100%;
    display: flex;
    justify-content: center;
    position:relative;
  }
  .messagebtn .tooltiptext{
    visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  }
  .successMsg{
    text-align: center;
    padding-top: 10px;
    color: green;
  }
  .errMsg{
    text-align: center;
    padding-top: 12px;
    color: red;
  }
  .errorMessage {
    color: red;
    font-size: 12px;
  }
  @media only screen and (max-width: 800px){
    .messageForm{
      flex-direction: column;
    }
    .googleMapWrap{
      width: 100%;
    }
    .formFields{
      display: flex;
    }
    .formFields{
      width: 100%;
      flex-direction: column;

    }
    .formContent{
    width:100%
    }
    
    /* .formContent input{
      height: 40px;
    } */
    
.contact{
  display: flex;
flex-direction: column;
margin-top: 16px;
margin-bottom: 40px
}
.number{
  width: 100%;
  margin-bottom: 22px;
}
.bannerPic{
  font-size: 12px;
  padding: 118px 127px 96px 133px;
}
  }
  @media only screen and (max-width: 600px){
    .navoverlay{
      margin-bottom: -86px;
    }
    .formFields{
      padding: 30px 0px;
    }
    .formContent{
      width: 100%;
    }
    .formHeading{
      padding-bottom: 20px;
    }
    .singlerow{
      flex-direction: column;
      width: 100%;
      gap: 0;
    }
    .textLabel{
      width: 100%;
    }
  }
  @media only screen and (max-width: 420px){
    .bannerPic{
      padding:73px 73px
    } }