.cardDiv{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 60px;

  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* width: 40%; */
    border-radius: 6px;
    margin-bottom: 50px;
  }
  .eventTitle{
    background-color:#525251;
    /* color: white; */
    }
    .eventTitle p{
        color:white;
        text-align:center;
        padding:15px;
        border-top-left-radius: 6px;
          border-top-right-radius: 6px
        }
    .container {
        padding: 20px 41px;
        color: #525251;
      }
      .cardButtondiv{
        display: flex;
        justify-content: space-between;
        border-top: 3px solid #D9D9D9;
      }
      .cardbutton{
        border: none;
        background: none;
        padding: 18px 37px;
        font-size: 16px;
        color:#434343
      }
      .cardbutton:hover{
        color: #9e8959;
      }