.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
  }
  .navbarLoopLogo {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    flex: 1;
    cursor: pointer;

  }
  .navbarMenu {
    padding: 10px;
    display: flex;
    flex: 5;
    justify-content: center;

  }
  .navbarMenuItemActive {
    /* border-bottom: 1px solid #9e8959; */
    padding-bottom: 10px;
  }
  .navbarMenuItemArrow {
    position: relative;
    width: 8px;
    margin-left: 10px;
    margin-top: 5px;
  }
  .navbarMenuItemArrowImage {
    object-fit: contain;
    object-position: 0px 6px;
  }
  .navbarMenuItem {
    padding: 0px 20px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
  }
  .btnContainer {
    flex: 1;
    justify-content: flex-end;
    display: flex;
  }
  .signIn{
    background-color: #9e8959;
    padding: 5px 25px;
    border-radius: 6px;
    font-size: 15px;
    color: white;
    cursor:pointer;
  }
  .handburg{
    display: none;
  }
  
.hand{
  font-size: 28px;
}

.toggle{
  display: flex;
  flex-direction: column;
}
.handDrop{
  position: fixed;
top: 0px;
right: 0px;
background-color: white;
padding-left: 32px;
width: 100%;
z-index: 999;
padding-right: 23px;
padding-top: 12px;
padding-bottom: 30px;
}
.dropLogo{
  position: relative;
  width: 30px;
height: 30px;
margin-bottom: 20px;
padding: 29px;
cursor: pointer;

}
.border{
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 5px;
  font-size: 14px;
  padding-top: 6px;
}
.homeborder{
  border-top:1px solid #D9D9D9 ;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 5px;
  font-size: 14px;
  padding-top: 6px;
  cursor: pointer;
  margin-bottom: 8px;

}
.close{
  text-align: right;
  color: #9e8959;
}
.signinbtn{
  color: white;
background-color: #9e8959;
border: none;
padding: 7px 16px;
text-align: center;
margin-top: 12px;
border-radius: 5px;
font-size: 15px;
}
@media (max-width: 820px){
  .signIn{
    padding: 7px 11px;
font-size: 10px;
  }
  .navbarMenu{
    font-size: 10px;
    width: 60%;
  }
}
@media (max-width: 768px) {
  .signIn{
    padding: 7px 11px;
font-size: 10px;
  }
  .navbarMenu{
    font-size: 10px;
    width: 60%;
  }

}
  @media only screen and (max-width: 600px){
    .handburg{
      display: block;
      color: white;
    }
    .navbarMenu{
      display:none
    }
    .btnContainer{
      display: none;
    }

  }
 