.forgotPasswordWrap {
  padding: 70px 100px;
  display: flex;
  flex-direction: column;
}

.newHeading {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.newHeadingInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newHeading h1 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}
.newHeading h2 {
  border-top: #9e8959 2px solid;
  margin: 0;
  color: #fff;
  width: 80%;
}
.newHeading p {
  color: #525251;
}
.prompt {
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.49);
  margin-top: 40px;
  text-align: center;
  font-weight: 400;
}
.formContent {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.emailWrap {
  display: flex;
  flex-direction: column;

  width: 100%;

  padding-top: 30px;
  align-items: start;
  padding-bottom: 5px;
}
.textLabel {
  font-size: 12px;
  color: #202021;
}
.emailWrap input {
  height: 35px;
  border-radius: 3px;
  width: 100%;
  padding-bottom: 5px;
  outline: none;
  border: 1px solid #CCCCCC;
}

.submitWrap {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.fieldWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.submitWrap input[type="submit"] {
  padding: 10px 40px;
  color: #fff;
  background: #525251;
  outline: none;
  border: 1px solid #525251;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.5s ease;
}
.submitWrap input[type="submit"]:hover {
  transform: scale(1.01);
  background: #9e8959;
  border-color: #9e8959;
}
.errmsg {
  /* text-align: left; */
  font-size: 12px;
  color: red;
}
@media screen and (max-width: 425px) {
  .forgotPasswordWrap {
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
  }
  .prompt {
    font-size: 14px;

    margin-top: 30px;
  }
  .emailWrap label {
    font-size: 14px;
  }
  .emailWrap input[type="email"] {
    font-size: 14px;
  }
  .emailWrap input[type="email"]::placeholder {
    font-size: 14px;
  }
}
@media screen and (max-width: 362px) {
  .forgotPasswordWrap {
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
  }
}
