.container{
    padding: 15px 5px 0px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 5rem;
    overflow-y: hidden;
}
.oopsDiv{
    text-align: center;
    margin: 69px;
}
/* @media screen and (min-width:600px) and (max-width:900px){   
    .container{
    
        display: grid;
        grid-template-columns: 1fr  ;
        gap: 2rem;
    }
} */
@media screen and (min-width:1800px) and (max-width:2660px){
    .container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width:600px) and (max-width:1100px){
    .container{
    
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 1rem;
    }
}
@media screen and (max-width:600px){   
    .container{
    
        display: grid;
        grid-template-columns: 1fr  ;
        gap: .5rem;
    }
}