.applicantButton {
  display: flex;
  align-items: center;
  background-color: #525251;
    color: white;
  padding: 34px 11px;
  margin-top: 20px;
  margin-right: -26px;
  /* height: 31px; */
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  width:220px;
  height: 102px;
  transform: skew(20deg);
  flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* clip-path: polygon(16% 0%, 100% 0%, 69% 123%, 0% 104%); */
    clip-path: polygon(16% 0%, 100% 0%, 71% 103%, 0% 99%);
   
}
.eventButton{
  display: flex;
  align-items: center;
  margin-left: -26px;
  background-color: #525251;
    color: white;
  padding: 34px 11px;
  margin-top: 20px;
  /* margin-right: 30px; */
  /* height: 31px; */
  font-size: 15px;
  cursor: pointer;
  width:220px;
  height: 102px;
  transform: skew(20deg);
  flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 600;
    clip-path: polygon(26% 0%, 100% 0%, 85% 100%, 0% 100%);
}
.sponserButtonshape{
  display: flex;
  align-items: center;
  background-color: #525251;
    color: white;
  padding: 34px 11px;
  margin-top: 20px;
  /* margin-right: 30px; */
  /* height: 31px; */
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  width:220px;
  height: 102px;
  transform: skew(20deg);
  flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    clip-path: polygon(25% 0%, 100% 0%, 74% 100%, 0% 100%);
} 

.applicantButton:hover {
  background-color: white;
  color: #9e8959;
}
.applicantButton:hover .iconSize{
  color: #9e8959;
}
.eventButton:hover{
  background-color: white;
  color: #9e8959;
}
.eventButton:hover .iconSize{
  color: #9e8959; 
}
.sponserButtonshape:hover{
  background-color: white;
  color: #9e8959;
}
.sponserButtonshape:hover .iconSize{
  background-color: white;
  color: #9e8959;
}

/* .applicantButtonArrow {
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: #525251;
  color: white;
  padding: 2px;
  margin-left: 10px;
  margin-right: 3px;
} */
.forBackgroundWrap {
  position: relative;
}

.bgImage{
  position: absolute;
  left:0px;
  top:0px;
  width: 522px;
  height: 146px;
}
.bgImageRight{
  position: absolute;
  width: 320px;
    height: 88px;
  right: 0;
  bottom: 0;
}
.joinUs {
  background-image:url("../../images/joinusbackground.png");
  background-color: #9e8959;
  color: white;
  padding-top: 55px;
  padding-bottom: 55px;
  margin-top: 36px;
  text-align: center;
  /* position: relative; */
}
/* .joinUs::before {
  position:absolute;
  left:0px;
  top:0px;
  content: "";
  height: 100%;
  width:10%;
  background-image: url('/assets/leftBackground.png');
} */
/* .joinUs::after {
  position:absolute;
  right:0px;
  bottom:0px;
  content: "";
  height: 100%;
  width:10%;
  background-image: url('/assets/rightBackground.png');
} */
.leftBackgroundWrapHigher {
  position: absolute;
  left: 0px;
  top: 0px;
}
.leftBackgroundWrap {
  position: relative;
}

.sponserButton {
  display: flex;
  align-items: center;
  background-color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  color: black;
  margin-top: 20px;
}
.sponserButtonArrow {
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: #c8982c;
  padding: 5px;
  margin-left: 10px;
}
.userButton {
  display: flex;
  justify-content: center;
}
.p {
  font-size: 16px;
}
.iconSize{
  /* width: 25px;
  height: 25px; */
  font-size: 33px;
}

@media only screen and (max-width: 600px){
  .userButton{
    flex-direction: column;
  }
  .applicantButtonArrow{
    display: none;
  }
  .applicantButton{
    background-color: #525251;
    color: white;
width: 100%;
border-radius: 2px;
text-align: center;
align-items: center;
justify-content: center;
font-size: 16px;
font-weight: 600;
margin-right: 0;
/* clip-path: polygon(8% 0%, 100% 0%, 69% 123%, 0% 104%); */
clip-path:polygon(25% 0%, 100% 0%, 74% 100%, 0% 100%)
  }
  .eventButton{
    width: 100%;
    margin-left: 0;
    /* clip-path: polygon(26% 0%, 100% 0%, 92% 100%, 0% 100%); */
    clip-path:polygon(25% 0%, 100% 0%, 74% 100%, 0% 100%);
font-size:16px;
font-weight: 600;


  }
  .sponserButtonshape{
    width: 100%;
    font-size: 16px;
    font-weight: 600;
  }
  .bgImage{
    width: 342px;
  }
  .bgImageRight{
    width: 160px;
    height: 43px;
  }
  .p {
    font-size: 15px;
  }
}
