.bannerPic{
    background: url("../../images/fund.jpeg");
    background-color: rgba(0, 0, 0, 0.47);
    /* background-image:
    linear-gradient(to bottom, #525251, rgba(82, 82, 81, 0.89)),
    url('../../public/assets/aboutUs.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-top: 589px; */
    /* background-color: rgba(0, 0, 0, 0.47); */
    background-blend-mode: overlay;
    background-position: center;
    padding: 235px;

   
}
.bannerContent{
    color:white;
    text-align: center;
}
.funding{
  font-size: 58px;
font-weight: 401;
}
.subTitle{
  font-weight: 401;
font-size: 20px;
}
.whoWeAre{
    display: flex;
    padding-top: 124px;
    justify-content: flex-start;
    /* padding-left: 51px; */
    padding-right: 51px;
}
.about1{
    position: relative;

}
.about2{
    
    position: absolute;
    padding-left: 165px;
    margin-top: -124px;

}
.imageFlex{
    display: flex;
}
.dotsImage{
    position: relative;
z-index: -10;
}
.smallhead{
    font-size: 18px;
color: #9e8959;
font-weight: 500;
}
.readMore{
    background-color: #9E8967;
    width: fit-content;
    color: #fff;
    padding: 9px 17px;
    /* margin-left: 36px; */
    margin-top: 20px;
    border-radius: 5px;
 
  border: none;
  cursor: pointer;
  font-weight: 600;
    font-size: 20px;
    line-height: 30px
}
.readMore:hover{
  background-color: #525251;
}
.content{
    /* color: #575757; */
    font-size: 16px;
    color: #7e7e7e;
}
.mainHead{
    font-size: 32px;
font-weight: 455;
line-height: 1.2;
padding-bottom: 24px;
}
.whatWeWant
{
  padding-top: 50px;
  padding-bottom: 50px;
}
.chooseUs{
    display: flex;
justify-content: space-between;
}
.chooseSection{
    display: grid;
grid-template-columns: repeat(3, minmax(0, 1fr));
grid-column-gap: 6px;
-moz-column-gap: 6px;
column-gap: 43px;
align-items: center;
width: 100%;
justify-content: space-between;
}
.subChoose{
    /* background: white; */
    border: 1px solid;
      border-top-color: currentcolor;
      border-right-color: currentcolor;
      border-bottom-color: currentcolor;
      border-left-color: currentcolor;
    border-color: lightgray;
    padding: 30px;
    cursor: pointer;
    background-image:
  linear-gradient(to bottom, #525251, rgba(82, 82, 81, 0.49)),
  url('../../images/aboutChoose.png');

    /* background-image: url("../../public/assets/aboutChoose.png"); */
    background-size: cover;

    background-repeat: no-repeat;
    background-position: center;
       color: white;
       border-radius: 10px;
       max-height: 256px;
       min-height: 256px;
  
}
.subChoose:hover
{

    background-image:
    linear-gradient(to bottom, #9e8959, rgba(158,137,89, 0.49)),
    url('../../images/aboutChoose.png');

}
.circle{
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background-color: white ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.circleDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.paymentHead{
    text-align: center;
font-size: 20px;
font-weight: 600;
}
.payDetail{
        font-size: 13px;
        padding-top: 10px;
        text-align: center;

        
}
.arrowDiv{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.arrowCircle{
    width:20px;
    height:20px;
    border-radius: 50%;
    border:1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .video {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
} */
  .playerwrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
   }  
  
  .reactPlayer {
    position: relative;
    top: 15px;
    left: 15px;
    border-radius: 15px !important;
    overflow: hidden;
  }
  .payIcon{
    color: #9e8959;
    font-size: 33px;
  }
  .subChoose:hover .payIcon{
    color: white;
  }
  .subChoose:hover .circle{
    background-color: #525251
  }
.videoDiv{
  position: relative;
  margin-bottom: 73px;
}

  .topBorder{
    width: 300px;
    height: 300px;
    background-color: #9e8959;
    border-radius: 20px;
    position: absolute;
    top: -9px;
    left: -9px;
  
  }
  .bottomBorder{
    width: 300px;
    height: 300px;
    background-color: #9e8959;
    border-radius: 20px;
    position: absolute;
    bottom: -34px;
right: -31px;
z-index: -1;
  }
  .gallery{
    margin-right: 140px;
   width: 100%;

    position: relative;
  }


  .pictureContent{
    width:50%;
    padding-right: 68px;
  }
  .img{
    width: 100%;
  }
  .imgContent{
    width: 100%;
  }
  /*  */
  @media only screen and (max-width: 1024px){
    .bannerPic{
      padding: 90px;}
      .funding{
        font-size: 28px;
      }

  }
  @media only screen and (max-width: 970px){
    .paymentHead{
      font-size: 16px;
    }
    .payDetail{
      font-size: 10px;
    }
    
  }
  @media only screen and (max-width: 840px){
    .subChoose{
      padding: 25px;
    }
    .paymentHead{
      font-size: 14px;
    }
  }
  @media only screen and (max-width: 755px){
    .bannerPic{
      padding: 85px;
    }
    .funding{
      font-size: 26px;
    }
    .subTitle{
      font-size: 12px;
    }
    .gallery{
      margin-right: 68px;
    }
    .whoWeAre{
      padding-right: 0%;
    }
    .smallhead_{
      font-size: 14px;
    }
    .mainHead{
      font-size: 20px;
    }
   
    .chooseUs{
      flex-direction: column;
    }
    .subChoose{
      margin-bottom: 15px;
      padding: 20px;
    }
    .payDetail{
      font-size: 10px;
  }

  .paymentHead{
      font-size: 14px;
  }
  .chooseSection{
    column-gap: 15px;
  }
  }
  @media only screen and (max-width: 657px){
    .chooseSection{
      column-gap: 11px
    }
    .subChoose{
      padding: 12px
    }
    .paymentHead{
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 600px){
    .bannerPic{
      padding: 98px 28px;
    }
    .funding{
      font-size: 27px;
    }
    .payDetail{
      font-size: 15px;
  }
    .subTitle{
      font-size: 16px;
    }
    .whoWeAre{
      flex-direction: column;
      padding-right: 0px;
      align-items: center;
    }
    .smallhead{
      font-size: 14px;
      text-align: center;
    }
    .mainHead{
      font-size: 21px;
      text-align: center;
    }
    .content{
      text-align: center;
      font-size: 15px;
    }
    .gallery{
      margin-right: 0
    }
    .readbtn{
      display: flex;
justify-content: center;
    }
    .subChoose{
      margin-bottom: 15px;
    }
    .chooseSection{
      grid-template-columns: none;
      width: 60%;
    }
    .chooseUs{
      width: 100%;
      align-items: center;
    }
    .navoverlay{
      margin-bottom: -86px;
    }
    .readMore{
      font-size: 16px;
      font-weight: 600;
    }
    .paymentHead{
      font-size: 16px;
    }
  }
  @media only screen and (max-width: 425px)
  {
    .chooseSection{
      
      width: 100%;

    }
    
  }