.headline {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

.line {
    height: 2px;
    width: 181px;
    color: white;
}
.light{
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    width: 77px;
    height: 100%;
    display: flex;
    justify-content: center;
}
.glowicon{
    color: #9e8959;
}
.titleproject{
    width: 83%;
    display: flex;
    justify-content: center;
}

.image {
    position: relative;
    display: inline-block;
    
    height: 100%;
    
    /* aspect-ratio: 1/1; */
    cursor: pointer;
   
    
}
.imgWrap{
   
    position: relative;
    height: 100%;
   
   
}
.hhh{
    position: relative;
    max-width: 357px;
    max-height: 300px;
    min-height: 300px
}

.image img{
    filter: grayscale(80%);
    object-fit: cover;
    
}
.overlay {
    display: none;
    padding: 10px;
    z-index: 999;
}

.image:hover .overlay {
    width: 100%;
    height: 100%;
    background: rgba(82, 82, 81, 0.7);

    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    /* background-image: url('../../../public/assets/hoverbg.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hoverContent {
    border: 1px solid white;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.imageIcon {
    width: 60px;
    height: 60px;
    position: relative;
}
.readMore:hover{
    transition: 1.6s;
    background-color: #525151;
}
.readMore {
    color: white;
    background-color: #9e8959;
    border: none;
    margin-top: 22px;
    border-radius: 4px;
    font-size: 14px;
    padding: 11px 17px;
    cursor: pointer;
    font-weight: 600;
}

.hoverContentHead {
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 24px;


}

.hoverContentPara {
    font-size: 14px;
    margin: 0%;
    overflow: hidden;
    max-height: 108px;
}

.featureProject {
    color: #9e8959;
    font-size: "16px";
    font-weight: "500";

}

.exProject {
    font-weight: "500";
}
.bottomheadline{
    background-color: #525151;
    color:white;
    padding: 10px 20px;
    font-weight: 600;
    position: absolute;
    width: 100%;
   bottom: 0;
}

@media only screen and (max-width: 916px) {
    .hoverContentHead {
        font-size: 18px;
    }

    .hoverContentPara {
        font-size: 10px;
    }
}

@media only screen and (max-width: 802px) {
    .hoverContentHead {
        font-size: 15px;
    }

    .hoverContentPara {
        font-size: 9px;
    }
}

@media only screen and (max-width: 736px) {
    .imageIcon {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (max-width: 683px) {
    .imageIcon {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .exProject {
        font-weight: "402";
        font-size: 20px;
    }

    .hoverContentPara {
        font-size: 12px;
    }

    .hoverContentHead {
        font-size: 20px;
    }
.headline{
    padding-top: 0;
}
}