.navbarContainer {
  background-color: white;
  /* color: white; */
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 0 5rem 0 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 12px 0; */
  padding: 12px 0 6px 0;
}

.navbarLoopLogo {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  /* flex: 1; */
  cursor: pointer;
}

.navbarMenu {
  padding: 10px;
  display: flex;
  flex: 5;
  justify-content: center;
}

.navbarMenuItemActive {
  /* border-bottom: 1px solid #9e8959; */
  padding-bottom: 10px;
  padding: 0px 20px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #9e8959;
  font-size: 14px;
}

.navbarMenuItemArrow {
  position: relative;
  width: 8px;
  margin-left: 10px;
  margin-top: 5px;
}

.navbarMenuItemArrowImage {
  object-fit: contain;
  object-position: 0px 6px;
}

.navbarMenuItem {
  padding: 0px 10px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.btnContainer {
  flex: 1;
  justify-content: flex-end;
  display: flex;
}

.signIn {
  background-color: #9e8959;
  padding: 5px 25px;
  border-radius: 6px;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.handburg {
  display: none;
}

.hand {
  font-size: 28px;
}

.toggle {
  display: flex;
  flex-direction: column;
}

.handDrop {
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: white;
  padding-left: 32px;
  width: 100%;
  z-index: 999;
  padding-right: 23px;
  padding-top: 12px;
  padding-bottom: 30px;
}

.dropLogo {
  position: relative;
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
  padding: 29px;
  cursor: pointer;
}

.border {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 5px;
  font-size: 14px;
  padding-top: 6px;
}

.homeborder {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 5px;
  font-size: 14px;
  padding-top: 6px;
  cursor: pointer;
  /* margin-bottom: 8px; */
}

.close {
  text-align: right;
  color: #9e8959;
}

.signinbtn {
  color: white;
  background-color: #9e8959;
  border: none;
  padding: 7px 16px;
  text-align: center;
  margin-top: 12px;
  border-radius: 5px;
  font-size: 15px;
}
.notifDiv {
  margin-left: auto;
  padding-right: 25px;
  transition: 0.5s ease;
  padding-top: 10px;
}
.notifDiv:hover {
  transform: scale(1.1);
}
.sidebarFlex {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 42px 20px 20px 20px;
  position: fixed;
  z-index: 99;
  width: 108px;
  margin-top: 84px;
  height: 100%;
}

.circle {
  width: 63px;
  height: 63px;
  border-radius: 10%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: .5s ease;
  cursor: pointer;

}

.circle:hover {
  background-color: #525251;

  transform: scale(1.1);
}

.activeClass {
  width: 63px;
  height: 63px;
  border-radius: 10%;
  background-color: #525151;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.1);
  cursor: pointer;
}

.icon {
  font-size: 31px;
  color: #9e8959;
}

.wrap {
  text-align: center;
}

.iconTitle {
  padding: 15px 0;
  font-size: 0.7rem;
}

.childDiv {
  width: 100%;
  margin-top: 84px;
  background-color: #D9D9D9;;
  /* min-height: 550px; */
  min-height: 85vh;
}
.Dashboard {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #000000;
  padding-left: 40px;
}
.logoDash {
  display: flex;
  align-items: center;
}
.profile {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  border-radius: 10%;

  background: #F5F5F5;
  cursor: pointer;

}
.profileIcon {
  color: #9e8959;
  font-size: 25px;
}
.profileDiv {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.iconAndName{
  display: flex;
    align-items: center;
}
.notifybox{
  /* position: fixed; */
    top: 86px;
    right: 20px;
    
    padding-left: 32px;
    width: 320px;
    z-index: 999;
    /* padding-right: 23px; */
    padding-top: 12px;
    padding-bottom: 30px;

    position: absolute;
    left: auto;
    box-shadow: 0 0.25rem 0.75rem rgb(18 38 63 / 8%);
    min-width: 10rem;
    margin: 0;
    font-size: 0.875rem;
    color: #495057;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e9e9ef;
    border-radius: 0.25rem;
}
.innerDiv{
  height: 230px;
  position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
.content{
  overflow-y: scroll;
    overflow-x: hidden;
    /* width: inherit; */
    height: inherit;
    max-width: inherit;
    max-height: inherit;
    padding-right: 10px;
}
.content::-webkit-scrollbar {
  width: 6px;
}
.content::-webkit-scrollbar-track {
  background-color:white
}
.content::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
}
.messageStyle{
  box-shadow: 0 4px 2px -4px grey;
    padding: 10px 0px;
}
.messageStyle:hover{
  background: ghostwhite;
  cursor: pointer;
}
@media (min-width: 900px){
  .responsiveSideBar{

    display: none;
  }
}
@media (max-width: 900px) {
  .sidebarFlex {
    display: none;
  }
  .sidebarFlexRes {
    display: flex;
    flex-direction: column;
  }
  .responsiveSideBar {
    display: flex;
  }
  .handburg {
    display: block;
    color: black;
  }
  .profileDiv{
    display: none;
  }
}
@media (max-width: 820px) {
  .signIn {
    padding: 7px 11px;
    font-size: 10px;
  }

  .navbarMenu {
    font-size: 10px;
    width: 60%;
  }
}

@media (max-width: 768px) {
  .signIn {
    padding: 7px 11px;
    font-size: 10px;
  }

  .navbarMenu {
    font-size: 10px;
    width: 60%;
  }
}

@media screen and (max-width: 650px) {
  .navbarContainer {
    padding: 0 1rem 0 1rem;
  }
  
 
}

@media only screen and (max-width: 600px) {
 
  .Dashboard {
    display: none;
  }
 

  .navbarMenu {
    display: none;
  }

  .btnContainer {
    display: none;
  }
  .handDrop {
    color: black;
  }
}

/* function bgColorSet() {
  if (this.router.url.includes('/project')) {
    this.className = styles.activeClass;
  }
} */
