@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
slick-list {
  overflow: visible !important;
  overflow-x: hidden;

  /* margin: 0 -10px; */
}
.slick-slide {
  /* margin: 0 10px; */
}

#client-says .slick-list {
  padding-top: 45px;
}
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
}

/* the slides */
.exploreProjects .slick-slide {
  padding: 0 7px;
}
.
/* the parent */
.exploreProjects .slick-list {
  /* margin: 0 1px; */
  padding-bottom: 15px;
}

.slick-dots li button {
  /* width:20px;
  height:5px; */
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
.PhoneInputInput{
  outline: none;
  border: none;
}

@media screen and (max-width: 900px){
  .login-inner {
    flex-direction: column;
  }
  .login-left {
    padding-right: 0;
    margin-bottom: 20px;
  }
  .slick-prev {
    display: none !important;
  }
  .slick-next{
    display: none !important;
  }
}

.slick-dots li button:before {
  content: " "!important;
}
.slick-dots li button:before {
  background-color: #000000;
  width: 22px !important;
  height: 5px !important;
  border-radius: 5px;
  content: " "!important;

}

:root {
  --total-height: calc(100vh - 55px);
}
