.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cardWrap1 {
  margin: 20px 10px;
}

@media screen and (max-width: 650px) {
  .container {
    display: grid;
    grid-template-columns: 1fr ;
  }
  .cardWrap1 {
    margin: 20px 10px;
  }
}